/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #00b3b4;
	transition: color .1s ease-in-out;
	cursor: pointer;
}
a:hover {
	color: hsl(180, 100%, 40%);
}

/* STYLES OPTIMIZED FOR 1200px WIDTH SCREEN */
/* STYLES OPTIMIZED FOR 1200px WIDTH SCREEN */
/* STYLES OPTIMIZED FOR 1200px WIDTH SCREEN */
/* STYLES OPTIMIZED FOR 1200px WIDTH SCREEN */

h2 {
	font-family: 'Amaranth', sans-serif;
	font-size: 2em;
	color: #333;
	margin-bottom: 30px;
}
h3 {
  font-family: 'Amaranth', sans-serif;
	font-size: 1.75em;
	margin-bottom: 15px;
}
h4 {

}
h5 {
	font-size: 1.25em;
	font-weight: 600;
	margin-bottom: 5px;
}

.body-p {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 10px;
	font-family: 'Halant', serif;
	hyphens: auto;
}


/* START of Miscellaneous styles */
/* START of Miscellaneous styles */

.primary-bg {
	/*background: #00b2b3;*/
	background: #00b2b3;
	background: linear-gradient(225deg, hsla(181, 100%, 40%, 1), hsla(181, 100%, 30%, 1));
}
.primary-txt {
	color: #00b2b3;
}
.italic {
	font-style: italic;
}
.thick-vertical-spacer {
	width: 40px;
}

textarea {
	resize: none;
}

/* END of Miscellaneous styles */
/* END of Miscellaneous styles */

#main {

}
.main-body {
	width: 1120px;
	margin: 30px auto;
}
.home-body {
	/*width: 1250px;*/
}
.logo-box {
	display: flex;
	align-items: center;
	transition: transform .1s ease-in-out;
}
.logo-box:hover {
	transform: translateY(-2px);
}
.sd-logo {
	width: 64px;
	margin-left: 15px;
}
.logo-h1 {
  font-size: 2.25em;
  /*font-family: 'Fredericka the Great', cursive;*/
  font-family: 'Bubblegum Sans', cursive;
	cursor: pointer;
	color: hsl(180, 100%, 35%);
}
.logo-span {
  /*font-size: 0.88em;*/
  font-size: 0.92em;
	color: #333;
}
.fixed-sd-logo {
	width: 32px;
	margin-right: 15px;
}
.fixed-logo-h1 {
  font-size: 2em;
  font-family: 'Bubblegum Sans', cursive;
  color: hsl(180, 100%, 35%);
  cursor: pointer;
  transform: translateY(3px);
}
.fixed-logo-span {
  color: #333;
}
.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
  transition: top .5s ease-in-out;
}
#fixed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 15;
  transform: translateY(-25px);
  transition: opacity .1s ease-in-out, transform .2s ease-in-out;
}
.main-inner-header {
  width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
}

.main-nav{
	font-family: 'Amaranth', sans-serif;
	font-size: 1.25em;
}
.main-nav a {
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	color: hsl(180, 100%, 35%);
	transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}
.main-nav a:hover {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
	color: hsl(180, 100%, 40%);
}

/* Home page settings */
/* Home page settings */

.flex-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.flex-list {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.about-section, .service-section {
	width: 540px;
}
.about-section p {
  text-align: justify;
}
.service-item {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 164px;
	color: #fff;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	cursor: pointer;
	/*box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);*/
	transition: box-shadow .1s ease-in-out, transform .1s ease-in-out;
}
.service-item:hover {
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
	transform: translateY(-5px);
	z-index: 10;
}
.service-item img {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.service-item div {
	padding: 15px;
}
.service-item h5 {
	font-size: 1.08em;
	font-weight: 600;
	margin-bottom: 5px;
  font-family: 'Amaranth', sans-serif;
}
.service-item p {
	font-family: 'Roboto', sans-serif;
	/*font-size: 1em;*/
	font-size: 0.9em;
	margin-bottom: 0;
}

/* Past Projects Styles */
/* Past Projects Styles */
.major-section {
	position: relative;
	margin: 60px 0;
}
.projects-box {
	position: relative;
	width: 100%;
	height: 358px;
	overflow-x: hidden;
	box-shadow: -5px 5px 5px 0 rgba(0,0,0,0.15);
	border-radius: 15px;
}
.project {
	display: flex;
	align-items: center;
	position: absolute;
	width: 60%;
	height: 358px;
	padding: 20px;
	/*background: #00b2b3;*/
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	box-shadow: -5px 0 5px 0 rgba(0,0,0,0.15);
	transition: left .5s ease-in-out, width .5s ease-in-out;
}
.project-contents {
	display: flex;
	justify-content: space-between;
  opacity: 0.25;
  transition: opacity .5s ease-in-out;
}
.project-column {
	width: 48%;
}
.project-card {
	border-radius: 15px;
	box-shadow: -5px 5px 5px 0 rgba(0,0,0,0.15);
	transition: box-shadow .1s ease-in-out;
}
.project-card:hover {
	box-shadow: -10px 10px 10px 0 rgba(0,0,0,0.15);
}
.project-co {

}
.project-p {

}
.project img {
	display: block;
	width: 100%;
	margin-bottom: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.project-icons-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(255,255,255,0.5);
	padding: 15px 10px;
	margin-bottom: 0;
}
.project-icon-group {
	text-align: center;
}
.project-icon {
	font-size: 2.5em;
	padding: 10px;
	border-radius: 50px;
}

.project-button {
	display: inline-block;
	/*position: absolute;*/
	/*right: 40px;*/
	/*bottom: 25px;*/
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	background: #fff;
	padding: 15px 20px;
	margin-bottom: 0;
	text-align: center;
	text-decoration: none;
	color: #333;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	/*transition: box-shadow .1s ease-in-out;*/
	z-index: 5;
}
/*.project-button:hover {*/
	/*box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);*/
/*}*/

.project-icon-group p {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 0.75em;
	margin-bottom: 5px;
}

#project-0 {
	left: 0;
	z-index: 0;
	/*background: #8a93bf;*/
	/*background: #b46400;*/
	/*background: hsla(200, 100%, 35%, 1);*/
	background: linear-gradient(225deg, hsla(200, 100%, 40%, 1), hsla(200, 100%, 30%, 1)), hsla(200, 100%, 35%, 1);
}
#project-1 {
	left: 10%;
	z-index: 1;
	/*background: #8ab3bf;*/
	/*background: #b48d00;*/
	/*background: hsla(195, 100%, 35%, 1);*/
	background: linear-gradient(225deg, hsla(195, 100%, 40%, 1), hsla(195, 100%, 30%, 1)), hsla(195, 100%, 35%, 1);
}
#project-2 {
	left: 20%;
	z-index: 2;
	/*background: #8abf9d;*/
	/*background: #00b47a;*/
	/*background: hsla(190, 100%, 35%, 1);*/
	background: linear-gradient(225deg, hsla(190, 100%, 40%, 1), hsla(190, 100%, 30%, 1)), hsla(190, 100%, 35%, 1);
}
#project-3 {
	left: 30%;
	z-index: 3;
	/*background: #bfac8a;*/
	/*background: #00b3b4;*/
	/*background: hsla(185, 100%, 35%, 1);*/
	background: linear-gradient(225deg, hsla(185, 100%, 40%, 1), hsla(185, 100%, 30%, 1)), hsla(185, 100%, 35%, 1);
}
#project-4 {
	left: 40%;
	z-index: 4;
	/*background: #bf8a8a;*/
	/*background: #008ab4;*/
	/*background: hsla(180, 100%, 35%, 1);*/
  background: linear-gradient(225deg, hsla(180, 100%, 40%, 1), hsla(180, 100%, 30%, 1)), hsla(180, 100%, 35%, 1);
}
#project-4 .project-contents {
  opacity: 1;
}

/* Pricing Section */
/* Pricing Section */

.pricing-box {
	display: flex;
  justify-content: space-between;
}
.pricing-triplet {
	width: 540px;
}
.sub-heading {
	color: #666;
	margin-bottom: 20px;
	font-size: 1.5em;
}
.pricing-item {
	width: 100%;
	font-family: 'Amaranth', sans-serif;
	font-size: 1.25em;
	color: #fff;
	/*background: hsl(181, 100%, 35%);*/
	background: linear-gradient(190deg, hsla(181, 100%, 40%, 1), hsla(181, 100%, 30%, 1));
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
	border-radius: 10px;
	cursor: pointer;
	transition: box-shadow .1s ease-in-out, transform .1s ease-in-out;
}
.pricing-item:last-child {
	margin-bottom: 0;
}
.pricing-item:hover {
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
	transform: translateY(-2px);
}
.pricing-headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.pricing-heading {
	font-weight: 900;
}
.pricing-desc {
	font-size: 0.85em;
}
.pricing-price {
	/*color: #fff281;*/
	font-weight: 900;
}

/* Contact Section */
/* Contact Section */

.contact-box {
	display: flex;
}
.contact-group {
	width: 540px;
}
.contact-group-couplet {
	margin-bottom: 30px;
}
.contact-form {
	position: relative;
	font-size: 1.25em;
	padding: 20px 15px;
	background: linear-gradient(225deg, hsla(180, 100%, 40%, 1), hsla(180, 100%, 30%, 1)), hsla(180, 100%, 35%, 1);
	border-radius: 15px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.input-pair {
	display: flex;
	flex-direction: column;
	/*font-size: 1.25em;*/
	font-family: 'Amaranth', sans-serif;
	margin-bottom: 30px;
}
.input-label {
	color: #dddddd;
	padding-left: 15px;
	pointer-events: none;
	transform: translateY(31px);
	/*transform: translateY(35px);*/
	transition: transform .2s ease-in-out, color .2s ease-in-out;
}
.input-field {
	font-family: 'Roboto', sans-serif;
	font-size: 0.85em;
	color: #00cccc;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.form-heading {
	color: #fff;
	font-size: 1.25em;
	font-weight: 900;
	text-align: center;
	margin-bottom: 15px;
}
.contact-button {
	width: 100%;
	font-family: 'Amaranth', sans-serif;
	font-size: inherit;
	background: #fff;
	color: #00b3b4;
	text-align: center;
	padding: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	transition: box-shadow .1s ease-in-out, color .1s ease-in-out, transform .1s ease-in-out;
}
.contact-button:hover {
	color: #00cccc;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
	transform: translateY(-2px);
}
#response-window {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.25);
}
#submit-response {
	font-family: 'Amaranth', sans-serif;
	font-size: 1.25em;
	font-weight: 900;
	background: #fff;
	color: #b40000;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.availability-couplet {
	display: flex;
	width: fit-content;
	font-family: 'Halant', serif;
	font-size: 1.25em;
	font-weight: 900;
	/*border: 2px solid #00b3b4;*/
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: default;
	transition: background .1s ease-in-out;
}
.availability-item {
  display: flex;
  align-items: center;
	background: linear-gradient(225deg, hsla(180, 100%, 40%, 1), hsla(180, 100%, 30%, 1)), hsla(180, 100%, 35%, 1);
	color: #fff;
	padding: 10px 15px;

}
.availability-item:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.availability-item:last-child {
	background: linear-gradient(225deg, hsl(199, 100%, 40%), hsl(197, 100%, 30%)), hsla(180, 100%, 35%, 1);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.contact-info-icon {
	margin-right: 15px;
}
.contact-info-item {
	display: flex;
	align-items: center;
	width: fit-content;
	font-family: 'Halant', serif;
	font-size: 1.25em;
	font-weight: 900;
	color: #fff;
	background: linear-gradient(225deg, hsla(180, 100%, 40%, 1), hsla(180, 100%, 30%, 1)), hsla(180, 100%, 35%, 1);
	/*border: 2px solid #00b3b4;*/
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 20px;
	text-decoration: none;
	transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}
.contact-info-item:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
	color: #fff;
}

/* Footer Section */
/* Footer Section */

.footer {
  width: 1120px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Halant', sans-serif;
  margin-bottom: 10px;
}
.footer-item {
  display: inline-block;
  margin: 0 5px;
}
.copyright {
  color: #ccc;
}